<!-- menu.component.html -->
<div>
  <!-- Menu Superior -->
  <div class="menu-container p-3 border-bottom shadow-sm bg-white d-flex gap-2">

    <a routerLink="/" class="btn btn-primary" routerLinkActive="active">Início</a>
    <a routerLink="/cliente" class="btn btn-primary" routerLinkActive="active">Cliente</a>
    <a routerLink="/colaborador" class="btn btn-primary" routerLinkActive="active">Colaborador</a>
    <a routerLink="/projeto" class="btn btn-primary" routerLinkActive="active">Projeto</a>
    <a routerLink="/atividade" class="btn btn-primary" routerLinkActive="active">Atividade</a>
  </div>

  <router-outlet></router-outlet>

</div>
